

.signup{
    height: 96vh;
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    background-color: #ffffff;
}

.signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 35vh;
    color: white;
    box-shadow: 2px 3px 6px 4px #cccccc;
}

.signupField {
    height: 3vh;
    width: 12vw;
    margin-top: 2vh;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding-left: 20px;
}

.signupButton {
    height: 3.1vh;
    width: 12.4vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    background: #f87c29;
    color: white;
    border: none;
    transition: 0.3s;
}

.signupButton:hover {
    cursor: pointer;
    background: #be5e1e;
    transition: 0.3s;
}

.signupError {
    margin-top: 5px;
    color: red;
}

#signup-logo{
    height: 10vh;
    margin-bottom: 40px;
}

#loginlink {
	color: #f87c29;
    text-decoration: underline;
    text-align: center;
}

#loginlink:hover {
    color: #be5e1e;
    text-decoration: underline;
}

/* #loginlink:visited {
	color: rgb(147, 28, 245);
    text-decoration: underline;
} */

#contact{
    padding-bottom: 10px; /*whatever the height of your footer is*/
    position: fixed;
    bottom: 0;
}

.contactlink {
	color: #f87c29;
}
.contactlink:link {
	color: #f87c29;
}
.contactlink:visited {
	color: #be5e1e;
}
